* {
  padding: 0;
  margin: 0;
}

.container {
  display: block;
}

.container .sidebar {
  width: 150px;
  background-color: #191718;
  display: inline-block;
}

.sidebar ul {
  list-style: none;
}

.item {
  color: #aaaaaa;
  border-bottom: 1px solid #5c5c5c;
  padding: 16px 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.sidebar-item {
  list-style: none;
}

.content-container {
  background-color: #fff;
  display: inline-block;
}

.content{
  /* display: block; */
  /* padding: 10px 150px; */
}

.content .image{
  background: url(https://static.ybox.vn/2020/9/0/1599362450757-nccplus.png);
}

.content .group1{
  background-color: #EFEFEF;
  padding: 0px 269px ;
}

.content-container .footer {
  line-height: 19px;
  border-top: 1px solid #DEDEDE;
}

.footer .text-footer{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3e3e3e;
}
